@import "tailwindcss" prefix(tw);

@custom-variant dark (&:where(.dark, .dark *));



@font-face {
  font-family: "Peyda";
  src: url("./font/Peyda/PeydaWeb-Medium.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PeydaBold";
  src: url("./font/Peyda/PeydaWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "PeydaRegular";
  src: url("./font/Peyda/PeydaWeb-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap");

.regular {
  font-family: "PeydaRegular", sans-serif;
}

.bold {
  font-family: "PeydaBold", sans-serif;
}

html {
  direction: rtl;
  font-family: "Peyda", "Vazirmatn", sans-serif;
  user-select: none;
  transition:
    background-color 0.5s,
    color 0.5s;
}